<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <script src="https://dev.3r60.top/package.js"></script>
    <title></title>
</head>
<body>
    <topbar></topbar>
    <main class="flex pb-0">
		<lead></lead>
		<content>
		<h1>按钮样式展示</h1>
		<p>三色三规格阴影独立</p>
		<button class="btn btn-shadow btn-primary btn-sm">标准按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger btn-sm">警告按钮（阴影）</button>
		<button class="btn btn-shadow btn-success btn-sm">成功按钮（阴影）</button>
		<button class="btn btn-shadow btn-primary-e btn-sm">标准按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger-e btn-sm">警告按钮（阴影）</button>
		<button class="btn btn-shadow btn-success-e btn-sm">成功按钮（阴影）</button>
		<br><br>
		<button class="btn btn-primary btn-sm">标准按钮</button>
		<button class="btn btn-danger btn-sm">警告按钮</button>
		<button class="btn btn-success btn-sm">成功按钮</button>
		<button class="btn btn-primary-e btn-sm">标准按钮</button>
		<button class="btn btn-danger-e btn-sm">警告按钮</button>
		<button class="btn btn-success-e btn-sm">成功按钮</button>
		<br><br>
		<button class="btn btn-shadow btn-primary btn-md">标准按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger btn-md">警告按钮（阴影）</button>
		<button class="btn btn-shadow btn-success btn-md">成功按钮（阴影）</button>
		<button class="btn btn-shadow btn-primary-e btn-md">标准按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger-e btn-md">警告按钮（阴影）</button>
		<button class="btn btn-shadow btn-success-e btn-md">成功按钮（阴影）</button>
		<button class="btn btn-shadow btn-circle">B</button>
		<br><br>
		<button class="btn btn-primary btn-md">标准按钮</button>
		<button class="btn btn-danger btn-md">警告按钮</button>
		<button class="btn btn-success btn-md">成功按钮</button>
		<button class="btn btn-primary-e btn-md">标准按钮</button>
		<button class="btn btn-danger-e btn-md">警告按钮</button>
		<button class="btn btn-success-e btn-md">成功按钮</button>
		<button class="btn btn-circle">B</button>
		<br><br>
		<button class="btn btn-shadow btn-primary btn-lg">标准大按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger btn-lg">警告大按钮（阴影）</button>
		<button class="btn btn-shadow btn-success btn-lg">成功大按钮（阴影）</button>
		<button class="btn btn-shadow btn-primary-e btn-lg">标准大按钮（阴影）</button>
		<button class="btn btn-shadow btn-danger-e btn-lg">警告大按钮（阴影）</button>
		<button class="btn btn-shadow btn-success-e btn-lg">成功大按钮（阴影）</button>
		<br><br>
		<button class="btn btn-primary btn-lg">标准大按钮</button>
		<button class="btn btn-danger btn-lg">警告大按钮</button>
		<button class="btn btn-success btn-lg">成功大按钮</button>
		<button class="btn btn-primary-e btn-lg">标准大按钮</button>
		<button class="btn btn-danger-e btn-lg">警告大按钮</button>
		<button class="btn btn-success-e btn-lg">成功大按钮</button>
		</content>
	</main>
</body>
</html>